
body {
    font-family: "Times New Roman";
}
#headshot{
    width: 200px;
    float: left;
    padding-right: 30px;
}
#description{
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}
#linkdin{
    vertical-align: middle;
    width: 50px;
}
#header{
    padding-top:10px;
    background-color: grey;
    border-radius: 10px;
}
#upper{
    padding-left: 20px;
}
#contact{
    text-align: right;
    font-size: 20px;
    padding-right: 30px;
}
#lower{
    border-radius: 10px;
    background-color: antiquewhite;
}
#github{
    vertical-align: middle;
    width: 50px;
}
#body{
    padding-top: 20px;
}
li {
    font-family: "Times New Roman";
    font-size: 25px;
    display: inline;
    padding-right: 20px;
}
a{
    color: black;
    text-decoration:none;
}
a:hover{
    color: blue;
}
ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}
#author{
    color: grey;
    bottom: 0%;
    font-size: 15px;
    padding-left: 300px;
    position: fixed;
}
.dropbtn {
    font-family: "Times New Roman";
    background-color: antiquewhite;
    color: black;
    padding: 16px;
    font-size: 25px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    color: antiquewhite;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: blue;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: blue;}
