#headshot{
    width: 200px;
    float: left;
    padding-right: 30px;
}
#description{
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}
#linkdin{
    vertical-align: middle;
    width: 50px;
}
#header{
    padding-top:10px;
    background-color: grey;
    border-radius: 10px;
}
#upper{
    padding-left: 20px;
}
#contact{
    text-align: right;
    font-size: 20px;
    padding-right: 30px;
}
#lower{
    border-radius: 10px;
    background-color: antiquewhite;
}
#github{
    vertical-align: middle;
    width: 50px;
}
#body{
    padding-top: 20px;
}
li {
    font-size: 25px;
    display: inline;
    padding-right: 20px;
}
a{
    color: black;
    text-decoration:none;
}
a:hover{
    color: blue;
}
ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}
